.jumbotron {
  background-color: transparent;
}

#app {
  min-width: 247px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #4B2B26;
}

header {
  background-color: #FC6921;
  padding: 10px 90px 15px 90px;
  border-radius: 15px;
  color: #fff;
  width: 613px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 2em;
  box-shadow: inset 0px -5px 1px #FC5300, 6px 7px 3px rgba(66, 66, 66, 0.5);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scorecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #fff;
  padding: 5rem 90px;
  border-radius: 10px;
  box-shadow: inset 0px -5px 1px #FC5300, 6px 7px 3px rgba(66, 66, 66, 0.5);
}

.btn {
  width: 300px;
  margin-top: 0px;
  cursor: default;
  height: 300px;
  border: 0;
  border-radius: 20px;
  outline: none !important;
  font-size: 200px;
  font-family: rubik;
  text-shadow: 3px 3px 5px;
  display: block;
  position: relative;
  z-index: 5;
  top: 15px;
}

.btncontainer .btn {
  background-color: #e85c5c;
  box-shadow: inset 0 -5px 1px #842f2f, 6px 7px 3px rgba(66, 66, 66, 0.5);
}

.btncontainer:last-child .btn  {
  background-color: #60e85c;
  box-shadow: inset 0 -5px 1px #37842f, 6px 7px 3px rgba(66, 66, 66, 0.5);
}

.btncontainer {
  display: inline-block;
  margin: 0 45px 20px 45px;
  text-align: center;
}

.scorebtn {
  background-color: #5e5e5e;
  color: #ddd;
  display: inline-block;
  padding-top: 10px;
  font-size: 45px;
  border-radius: 10px;
  box-shadow: inset 0 -4px 1px #383838, 4px 4px 3px rgba(66, 66, 66, 0.5);
  border: 0;
  top: -10px;
  margin: 0px 10px 0px 10px;
  width: 80px;
  height: 80px;
  transition: 0.5s;
}

@media (max-width: 1030px) {
  .btn {
    width: 250px;
    height: 250px;
    font-size: 170px;
  }
  .btncontainer {
    margin: 0 30px -30px 30px;
    height: 480px;
  }
  .scorecontainer {
    height: 470px;
  }
}

@media (max-width: 850px) {
  .btn {
    width: 230px;
    height: 230px;
    font-size: 150px;
  }
  .btncontainer {
    display: block;
    margin-bottom: -20px;
    margin-left: 20px;
    margin-right: 15px;
  }
  .scorecontainer {
    width: 90%;
    margin-left: 5%;
    height: 470px;
  }
}

@media (max-width:655px) {
  .btn {
    height: 210px;
    width: 210px;
    font-size: 140px;
  }
  header {
    width: 80%;
  }
  .btncontainer {
    height: 400px;
    margin-top: 10px;
  }
  .scorecontainer {
    height: auto;
  }
}

@media (max-width:585px) {
  header {
    width: 90%;
    margin-top: -10px;
    padding: 1px 0 10px 0px;
    margin-bottom: 15px;
& h1 {
    margin-top: 20px;
  }
}
.scorecontainer {
  flex-direction: column;
  align-items: right;
  height: auto;
}
.btn {
  width: 300px;
}
.btncontainer {
  display: inline-block;
  width: auto;
  margin: 0;
  height: 440px;
}
}

@media (max-width: 400px) {
  header {
    min-width: 276px;
    margin-left: 18px;
  }
  .scorecontainer {
    padding: 20px;
    min-width: 276px;
  }
  .btncontainer {
    width: 99%;
    height: auto;
    margin-bottom: 15px;
  }
  .btn {
    width: 240px;
    height: 220px;
    margin: 0 auto;
    font-size: 120px;
  }
  #roundcounter {
    width: 90% !important;
  }
}

@media (max-width: 320px) {
  header {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
& h1 {
    font-size: 25px;
  }
}
.scorecontainer {
  margin: 0;
  width: 100%;
}
.btn {
  width: 200px;
  height: 200px;
}
}
